<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOjYYZYy6kbTnw6yuKrzzbnwGE_7ioK4U</string>
	<key>GCM_SENDER_ID</key>
	<string>964686825149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pileus.meme.ai</string>
	<key>PROJECT_ID</key>
	<string>meme-ai-67c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-ai-67c8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964686825149:ios:fbac6021e5ba7da6b999d4</string>
</dict>
</plist>